/* New experiment scene styles */

#rootLayout {
	-fx-pref-width: 700.0;
}

.option-group-title {
	-fx-font-weight: bold;
	-fx-font-size: 14.0;
}

.option-title {
	-fx-padding: 0.0 0.0 0.0 5.0;
}

.option-input {
	-fx-max-width: 100.0;
}

#dropFileSpace {
	-fx-border-style: dashed;
	-fx-border-radius: 30.0;
	-fx-border-width: 5.0;
	-fx-border-insets: 5.0 10.0 10.0 10.0;
	-fx-border-color: rgb(186.0,189.0,182.0);
}

#dropFileLabel {
    -fx-font-size: 20.0pt;
    -fx-text-fill: rgb(186.0,189.0,182.0);
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}
